# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Runtime data
pids/
*.pid
*.pid.lock

# Coverage directory for testing
coverage/

# Temporary files
tmp/
temp/
*.tmp

# Build outputs (if using a build process)
dist/
build/

# Debugger logs (if using debugger)
.vscode/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE specific files
.idea/     # WebStorm/PhpStorm

#bulk upload files
/uploads/
